<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.si.kocheer.mapper.ConterInfoMapper">
    <resultMap type="com.zhxh.imms.si.kocheer.domain.ConterInfo" id="ConterInfoResultMap" extends="com.zhxh.imms.mes.mfc.mapper.CrudMapper.EntityResultMap">
        <result property="stationID" column="station_id"/>
        <result property="stationName" column="station_name"/>
        <result property="GID" column="gid"/>
        <result property="conterName" column="conter_name"/>
        <result property="startDID" column="start_did"/>
        <result property="endDID" column="end_did"/>
        <result property="IP" column="ip"/>
        <result property="port" column="port"/>
        <result property="position" column="position"/>
        <result property="isUse" column="is_use"/>
        <result property="wiressPower" column="wiress_power"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="conterInfoFields">
        c.record_id,c.station_id,c.gid,c.conter_name,c.start_did,c.end_did,c.ip,c.port,c.position,c.is_use,c.wiress_power,c.remark,s.station_name
    </sql>

    <select id="get" resultMap="ConterInfoResultMap">
        select <include refid="conterInfoFields"/>
         from zhxh_kocheer_conter_info c join zhxh_kocheer_station_info s on c.station_id = s.record_id
        where c.record_id = #{recordId}
    </select>

    <select id="getAll" resultMap="ConterInfoResultMap" parameterType="java.util.Map">
        select <include refid="conterInfoFields"/>
        from zhxh_kocheer_conter_info c join zhxh_kocheer_station_info s on c.station_id = s.record_id
        <include refid="com.zhxh.imms.mes.mfc.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from zhxh_kocheer_conter_info c join zhxh_kocheer_station_info s on c.station_id = s.record_id
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.si.kocheer.domain.ConterInfo" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_kocheer_conter_info(station_id,gid,conter_name,start_did,end_did,ip,port,position,is_use,wiress_power,remark)
        values(#{stationID},#{GID},#{conterName},#{startDID},#{endDID},#{IP},#{port},#{position},#{isUse},#{wiressPower},#{remark})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.si.kocheer.domain.ConterInfo">
        update zhxh_kocheer_conter_info
          set   station_id=#{stationID},
                gid=#{GID},
                conter_name=#{conterName},
                start_did=#{startDID},
                end_did=#{endDID},
                ip=#{IP},
                port=#{port},
                position=#{position},
                is_use=#{isUse},
                wiress_power=#{wiressPower},
                remark=#{remark}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_kocheer_conter_info c where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_kocheer_conter_info c where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>