<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.si.kocheer.mapper.StationInfoMapper">
    <resultMap type="com.zhxh.imms.si.kocheer.domain.StationInfo" id="StationInfoResultMap"
               extends="com.zhxh.imms.mes.mfc.mapper.CrudMapper.EntityResultMap">
        <result property="stationCode" column="station_code"/>
        <result property="stationName" column="station_name"/>
        <result property="stationPosition" column="station_position"/>
        <result property="softWareName" column="software_name"/>
        <result property="softWareVersion" column="software_version"/>
        <result property="stationIP" column="station_ip"/>
        <result property="stationLoginState" column="station_login_state"/>
        <result property="loginUserID" column="login_user_id"/>
        <result property="loginName" column="user_code"/>
        <result property="userName" column="display_name"/>
        <result property="firstLoginTime" column="first_login_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="lastLogOutTime" column="last_logout_time"/>
        <result property="lastStateUpdateTime" column="last_state_update_time"/>
        <result property="isUse" column="is_use"/>
    </resultMap>

    <sql id="stationInfoFields">
        sta.record_id,sta.station_code,sta.station_name,sta.station_position,sta.software_name,sta.software_version,
        sta.station_ip,sta.station_login_state,sta.login_user_id,sta.first_login_time,sta.last_login_time,sta.last_logout_time,
        sta.last_state_update_time,sta.is_use,
        u.user_code,u.display_name
    </sql>

    <select id="get" resultMap="StationInfoResultMap">
        select <include refid="stationInfoFields"/>
          from zhxh_kocheer_station_info sta join zhxh_system_user u on sta.login_user_id = u.record_id
        where sta.record_id = #{recordId}
    </select>

    <select id="getAll" resultMap="StationInfoResultMap" parameterType="java.util.Map">
        select <include refid="stationInfoFields"/>
        from zhxh_kocheer_station_info sta join zhxh_system_user u on sta.login_user_id = u.record_id
        <include refid="com.zhxh.imms.mes.mfc.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from zhxh_kocheer_station_info sta join zhxh_system_user u on sta.login_user_id = u.record_id
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.si.kocheer.domain.StationInfo" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_kocheer_station_info(station_code,station_name,station_position,software_name,software_version,
                station_ip,station_login_state,login_user_id,first_login_time,last_login_time,last_logout_time,last_state_update_time,is_use)
        values(#{stationCode},#{stationName},#{stationPosition},#{softWareName},#{softWareVersion},
                #{stationIP},#{stationLoginState},#{loginUserID},#{firstLoginTime},#{lastLoginTime},#{lastLogOutTime},#{lastStateUpdateTime},#{isUse})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.si.kocheer.domain.StationInfo">
        update zhxh_kocheer_station_info
           set station_code=#{stationCode},
           station_name=#{stationName},
           station_position=#{stationPosition},
           software_name=#{softWareName},
           software_version=#{softWareVersion},
           station_ip=#{stationIP},
           station_login_state=#{stationLoginState},
           login_user_id=#{loginUserID},
           first_login_time=#{firstLoginTime},
           last_login_time=#{lastLoginTime},
           last_logout_time=#{lastLogOutTime},
           last_state_update_time=#{lastStateUpdateTime},
           is_use=#{isUse}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_kocheer_station_info where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_kocheer_station_info where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>