<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.si.kocheer.mapper.WorkstationSessionMapper">
    <resultMap type="com.zhxh.imms.si.kocheer.domain.WorkstationSession" id="WorkstationSessionResultMap" extends="com.zhxh.imms.mes.mfc.mapper.CrudMapper.EntityResultMap">
        <result column="workstation_id" property="workstationId"/>
        <result column="session_type" property="sessionType"/>
        <result column="current_step" property="currentStep"/>
        <result column="operator_id" property="operatorId"/>
        <result column="gid" property="gid"/>
        <result column="did" property="did"/>
        <result column="create_time" property="createTime"/>
        <result column="last_process_time" property="lastProcessTime"/>
    </resultMap>

    <sql id="workstationSessionFields">
        s.record_id,s.workstation_id,s.session_type,s.current_step,s.operator_id,s.gid,s.did,s.create_time,s.last_process_time
    </sql>

    <select id="get" resultMap="WorkstationSessionResultMap">
        select <include refid="workstationSessionFields"/>
          from zhxh_workstation_session s
        where s.record_id=#{recordId}
    </select>

    <select id="getAll" resultMap="WorkstationSessionResultMap"  parameterType="java.util.Map">
        select <include refid="workstationSessionFields"/>
           from zhxh_workstation_session s
        <include refid="com.zhxh.imms.mes.mfc.mapper.CrudMapper.selectByPage"/>
    </select>


    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from zhxh_workstation_session s
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.si.kocheer.domain.WorkstationSession" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_workstation_session(workstation_id,session_type,current_step,operator_id,gid,did,create_time,last_process_time)
            values(#{workstationId},#{sessionType},#{currentStep},#{operatorId},#{gid},#{did},#{createTime},#{lastProcessTime})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.si.kocheer.domain.WorkstationSession">
        update zhxh_workstation_session
        set workstation_id=#{workstationId},
            session_type=#{sessionType},
            current_step=#{currentStep},
            operator_id=#{operatorId},
            gid=#{gid},
            did=#{did},
            create_time=#{createTime},
            last_process_time=#{lastProcessTime}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_workstation_session s where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_workstation_session s where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>