<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.mfc.mapper.RfidCardMapper">
    <resultMap type="com.zhxh.imms.mfc.domain.RfidCard" id="RfidCardResultMap"
               extends="com.zhxh.data.mapper.CrudMapper.EntityResultMap">
        <result property="kanbanNo" column="kanban_no"/>
        <result property="rfidNo" column="rfid_no"/>
        <result property="cardType" column="card_type"/>
        <result property="cardStatus" column="card_status"/>
        <result property="productionId" column="production_id"/>
        <result property="productionCode" column="production_code"/>
        <result property="productionName" column="production_name"/>
        <result property="workshopId" column="workshop_id"/>
        <result property="workshopCode" column="production_code"/>
        <result property="workshopName" column="workshop_name"/>
        <result property="issueQty" column="issue_qty"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="outsourceQty" column="outsource_qty"/>
        <result property="lastBusinessId" column="last_business_id"/>
        <result property="towerNo" column="tower_no"/>
    </resultMap>

    <sql id="rfidCardFields">
        rfid.record_id,rfid.kanban_no,rfid.rfid_no,rfid.card_type,rfid.card_status,rfid.production_id,
        rfid.workshop_id,rfid.issue_qty,rfid.stock_qty,rfid.outsource_qty,rfid.last_business_id,rfid.tower_no,
        m.material_code as production_code,m.material_name as production_name,
        ws.org_code as workshop_code,ws.org_name as workshop_name
    </sql>

    <select id="get" resultMap="RfidCardResultMap">
        select <include refid="rfidCardFields"/>
        from zhxh_rfid_card rfid join zhxh_material m on rfid.production_id = m.record_id
                                 join zhxh_org ws on rfid.workshop_id = ws.record_id
        where rfid.record_id=#{recordId}
    </select>

    <select id="getAll" resultMap="RfidCardResultMap" parameterType="java.util.HashMap">
        select <include refid="rfidCardFields"/>
        from zhxh_rfid_card rfid join zhxh_material m on rfid.production_id = m.record_id
                                 join zhxh_org ws on rfid.workshop_id = ws.record_id
        <include refid="com.zhxh.data.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from zhxh_rfid_card rfid
        <where>
            ${where}
        </where>
    </select>
    
    <select id="getOutsourceBindCard" resultMap="RfidCardResultMap">
        select <include refid="rfidCardFields"/>
         from zhxh_rfid_card
         where record_id in(
            select qty_card_id
            from zhxh_card_bind
            where workstation_bind_id in(
                select record_id from zhxh_workstation_bind
                where workstation_id = #{workstationId}
                  and outsource_card_id = #{outsourceCardId}
                order by attach_time desc
                limit 1
            )
        )
    </select>

    <select id="getIssuedTotalCountAndQty" resultType="java.util.Map">
        select count(*) as totalCount,
               sum(issue_qty) as totalQty
        from zhxh_rfid_card rfid
        where rfid.production_id = #{productionId}
          and rfid.card_status = 1;
    </select>

    <insert id="create" parameterType="com.zhxh.imms.material.domain.Material" keyProperty="recordId" useGeneratedKeys="true" >
        insert into zhxh_rfid_card(kanban_no,rfid_no,card_type,card_status,production_id,workshop_id,issue_qty,stock_qty,outsource_qty,last_business_id,tower_no)
        values(#{kanbanNo},#{rfidNo},#{cardType},#{cardStatus},#{productionId},#{workshopId},#{issueQty},#{stockQty},#{outsourceQty},#{lastBusinessId},#{towerNo})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.material.domain.Material">
        update zhxh_rfid_card
        set  kanban_no=#{kanbanNo},
             rfid_no=#{rfidNo},
             card_type=#{cardType},
             card_status=#{cardStatus},
             production_id=#{productionId},
             workshop_id=#{workshopId},
             issue_qty=#{issueQty},
             stock_qty=#{stockQty},
             outsource_qty=#{outsourceQty},
             last_business_id=#{lastBusinessId},
             tower_no=#{towerNo}
        where record_id=#{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_rfid_card rfid where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_rfid_card rfid where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>