<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.material.mapper.MaterialStockMapper">
    <resultMap type="com.zhxh.imms.material.domain.MaterialStock" id="MaterialStockResultMap"
               extends="com.zhxh.data.mapper.CrudMapper.EntityResultMap">
        <result property="storeId" column="store_id"/>
        <result property="storeCode" column="store_code"/>
        <result property="storeName" column="store_name"/>

        <result property="materialId" column="material_id"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>

        <result property="qtyStock" column="qty_stock"/>
        <result property="qtyMoveIn" column="qty_move_in"/>
        <result property="qtyBackIn" column="qty_back_in"/>
        <result property="qtyBackOut" column="qty_back_out"/>
        <result property="qtyConsumeGood" column="qty_consume_good"/>
        <result property="qtyConsumeDefect" column="qty_consume_defect"/>
        <result property="qtyGood" column="qty_good"/>
        <result property="qtyDefect" column="qty_defect"/>
        <result property="qtyMoveOut" column="qty_move_out"/>
    </resultMap>

    <sql id="materialStockFields">
        st.record_id,st.store_id,st.material_id,st.qty_stock,st.qty_move_in,st.qty_back_in,st.qty_back_out,st.qty_consume_good,
        st.qty_consume_defect,st.qty_good,st.qty_defect,st.qty_move_out,
        ws.org_code as store_code,ws.org_name as store_name,m.material_code,m.material_name
    </sql>

    <select id="get" resultMap="MaterialStockResultMap">
        select <include refid="materialStockFields"/>
        from zhxh_material_stock st join zhxh_material m on st.material_id = m.record_id
                                    join zhxh_org ws on st.store_id = ws.record_id
        where st.record_id=#{recordId}
    </select>

    <select id="getAll" resultMap="MaterialStockResultMap" parameterType="java.util.HashMap">
        select <include refid="materialStockFields"/>
        from zhxh_material_stock st join zhxh_material m on st.material_id = m.record_id
                                    join zhxh_org ws on st.store_id = ws.record_id
        <include refid="com.zhxh.data.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*)
        from zhxh_material_stock st join zhxh_material m on st.material_id = m.record_id
                                    join zhxh_org ws on st.store_id = ws.record_id
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.material.domain.MaterialStock" keyProperty="recordId" useGeneratedKeys="true" >
        insert into zhxh_material_stock(store_id,material_id,qty_stock,qty_move_in,qty_back_in,qty_back_out,qty_consume_good,qty_consume_defect,qty_good,qty_defect,qty_move_out)
        values(#{storeId},#{materialId},#{qtyStock},#{qtyMoveIn},#{qtyBackIn},#{qtyBackOut},#{qtyConsumeGood},#{qtyConsumeDefect},#{qtyGood},#{qtyDefect},#{qtyMoveOut})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.material.domain.MaterialStock">
        update zhxh_material_stock
        set  store_id=#{storeId},
            material_id=#{materialId},
            qty_stock=#{qtyStock},
            qty_move_in=#{qtyMoveIn},
            qty_back_in=#{qtyBackIn},
            qty_back_out=#{qtyBackOut},
            qty_consume_good=#{qtyConsumeGood},
            qty_consume_defect=#{qtyConsumeDefect},
            qty_good=#{qtyGood},
            qty_defect=#{qtyDefect},
            qty_move_out=#{qtyMoveOut}
        where record_id=#{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_material_stock where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_material_stock where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>