<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.mes.mfc.mapper.CardBindMapper">
    <resultMap type="com.zhxh.imms.mes.mfc.domain.CardBind" id="CardBindResultMap" extends="com.zhxh.imms.data.CrudMapper.EntityResultMap">
        <result column="outsource_card_id" property="outsourceCardId"/>
        <result column="qty_report_id" property="qtyReportId"/>
        <result column="qty_card_id" property="qtyCardId"/>
        <result column="attach_time" property="attachTime"/>
        <result column="workstation_bind_id" property="workstationBindId"/>
    </resultMap>

    <sql id="cardBindFields">
        cb.record_id,cb.outsource_card_id,cb.qty_report_id,cb.qty_card_id,cb.attach_time,cb.workstation_bind_id
    </sql>

    <select id="get" resultMap="CardBindResultMap">
        select <include refid="cardBindFields"/>
        from zhxh_card_bind cb
        where cb.record_id = #{recordId}
    </select>

    <select id="getAll" resultMap="CardBindResultMap" parameterType="java.util.Map">
        select <include refid="cardBindFields"/>
        from zhxh_card_bind cb
        <include refid="com.zhxh.imms.data.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from zhxh_card_bind cb
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.mes.mfc.domain.CardBind" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_card_bind(outsource_card_id,qty_report_id,qty_card_id,attach_time,workstation_bind_id)
        values(#{outsourceCardId},#{qtyReportId},#{qtyCardId},#{attachTime},#{workstationBindId})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.mes.mfc.domain.WorkstationBind">
        update zhxh_card_bind
        set  outsource_card_id=#{outsourceCardId},
             qty_report_id=#{qtyReportId},
             qty_card_id=#{qtyCardId},
             attach_time=#{attachTime},
             workstation_bind_id=#{workstationBindId}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_card_bind cb where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_card_bind cb where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>