<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.mes.mfc.mapper.ProductionMovingMapper">
    <resultMap type="com.zhxh.imms.mes.mfc.domain.ProductionMoving" id="ProductionMovingResultMap"  extends="com.zhxh.imms.mes.mfc.mapper.CrudMapper.EntityResultMap">
        <result property="productionId" column="production_id"/>
        <result property="productionCode" column="production_code"/>
        <result property="productionName" column="production_name"/>

        <result property="rfidNo" column="rfid_no"/>
        <result property="rfidCardId" column="rfid_card_id"/>

        <result property="gid" column="gid"/>
        <result property="did" column="did"/>

        <result property="workshopId" column="workshop_id"/>
        <result property="workshopCode" column="workshop_code"/>
        <result property="workshopName" column="workshop_name"/>

        <result property="workshopIdFrom" column="workshop_id_from"/>
        <result property="workshopCodeFrom" column="workshop_code_from"/>
        <result property="workshopNameFrom" column="workshop_name_from"/>

        <result property="workstationId" column="workstation_id"/>
        <result property="workstationCode" column="workstation_code"/>
        <result property="workstationName" column="workstation_name"/>
        <result property="wocgCode" column="wocg_code"/>

        <result property="operatorId" column="operator_id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="employeeName" column="employee_name"/>

        <result property="operatorIdFrom" column="operator_id_from"/>
        <result property="employeeIdFrom" column="employee_id_from"/>
        <result property="employeeNameFrom" column="employee_name_from"/>

        <result property="qty" column="qty"/>
        <result property="timeOfOrigin" column="time_of_origin"/>
        <result property="timeOfOriginWork" column="time_of_origin_work"/>
        <result property="shiftId" column="shift_id"/>
    </resultMap>

    <sql id="productionMovingFields">
        pmv.record_id,pmv.production_id,pmv.rfid_no,pmv.rfid_card_id,pmv.gid,pmv.did,pmv.workshop_id,pmv.workshop_id_from,
        pmv.workstation_id,pmv.operator_id,pmv.operator_id_from,pmv.qty,pmv.time_of_origin,pmv.time_of_origin_work,pmv.shift_id,
        m.material_code as production_code,m.material_name as production_name,
        ws.org_code as workshop_code,ws.org_name as workshop_name,
        wk.org_code as workstation_code,wk.org_name as workstation_name,wk.wocg_code,
        wsf.org_code as workshop_code_from,wsf.org_name as workshop_name_from,
        o.employee_Id,o.employee_name,of.employee_id as employee_id_from,of.employee_name as employee_name_from
    </sql>

    <sql id="tables">
         zhxh_production_moving pmv join zhxh_material m on pmv.production_id = m.record_id
                                    left join zhxh_org ws on pmv.workshop_id = ws.record_id
                                    left join zhxh_org wk on pmv.workstation_id = wk.record_id
                                    left join zhxh_org wsf on pmv.workshop_id_from = wsf.record_id
                                    left join zhxh_operator o on pmv.operator_id = o.record_id
                                    left join zhxh_operator of on pmv.operator_id_from = of.record_id
    </sql>

    <select id="get" resultMap="ProductionMovingResultMap">
        select  <include refid="productionMovingFields"/>
         from <include refid="tables"/>
        where pmv.record_id = #{recordId}
    </select>

    <select id="getAll"  resultMap="ProductionMovingResultMap" parameterType="java.util.Map">
        select  <include refid="productionMovingFields"/>
          from <include refid="tables"/>
        <include refid="com.zhxh.imms.mes.mfc.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*)
        from <include refid="tables"/>
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.mes.mfc.domain.ProductionMoving" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_production_moving(production_id,rfid_no,rfid_card_id,gid,did,workshop_id,workshop_id_from,
            workstation_id,operator_id,operator_id_from,qty,time_of_origin,time_of_origin_work,shift_id)
        values(#{productionId},#{rfidNo},#{rfidCardId},#{gid},#{did},#{workshopId},#{workshopIdFrom},
             #{workstationId},#{operatorId},#{operatorIdFrom},#{qty},#{timeOfOrigin},#{timeOfOriginWork},#{shiftId})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.mes.mfc.domain.ProductionMoving">
        update zhxh_production_moving
          set production_id=#{productionId},
              rfid_no=#{rfidNo},
              rfid_card_id=#{rfidCardId},
              gid=#{gid},
              did=#{did},
              workshop_id=#{workshopId},
              workshop_id_from=#{workshopIdFrom},
              workstation_id=#{workstationId},
              operator_id=#{operatorId},
              operator_id_from=#{operatorIdFrom},
              qty=#{qty},
              time_of_origin=#{timeOfOrigin},
              time_of_origin_work=#{timeOfOriginWork},
              shift_id=#{shiftId}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_production_moving pmv where record_id =#{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_production_moving pmv where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>