<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.mes.mfc.mapper.ProductRecordMapper">
    <resultMap type="com.zhxh.imms.mes.mfc.domain.ProductRecord" id="ProductRecordResultMap"  extends="com.zhxh.imms.data.CrudMapper.EntityResultMap">
        <result property="workshopId" column="workshop_id"/>
        <result property="workshopCode" column="workshop_code"/>
        <result property="workshopName" column="workshop_name"/>

        <result property="workstationId" column="workstation_id"/>
        <result property="workstationCode" column="workstation_code"/>
        <result property="workstationName" column="workstation_name"/>
        <result property="wocgCode" column="wocg_code"/>

        <result property="productionId" column="production_id"/>
        <result property="productionCode" column="production_code"/>
        <result property="productionName" column="production_name"/>

        <result property="gid" column="gid"/>
        <result property="did" column="did"/>

        <result property="timeOfOrigin" column="time_of_origin"/>
        <result property="timeOfOriginWork" column="time_of_origin_work"/>
        <result property="shiftId" column="shift_id"/>

        <result property="rfidCardId" column="rfid_card_id"/>
        <result property="rfidCardNo" column="rfid_card_no"/>

        <result property="reportType" column="report_type"/>
        <result property="qty" column="qty"/>
        <result property="cardQty" column="card_qty"/>

        <result property="operatorId" column="operator_id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="employeeName" column="employee_name"/>

        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="productRecordFields">
        pr.record_id,pr.workshop_id,pr.workstation_id,pr.production_id,pr.gid,pr.did,pr.time_of_origin,pr.time_of_origin_work,
        pr.shift_id,pr.rfid_card_id,pr.rfid_card_no,pr.report_type,pr.qty,pr.card_qty,pr.operator_id,pr.remark,
        ws.org_code as workshop_code,ws.org_name as workshop_name,
        wk.org_code as workstation_code,wk.org_name as workstation_name,wk.wocg_code,
        m.material_code as production_code,m.material_name as production_name,
        o.employee_id,o.employee_name
    </sql>

    <sql id="tables">
        zhxh_product_record pr join zhxh_org ws on pr.workshop_id = ws.record_id
                                    join zhxh_org wk on pr.workstation_id = wk.record_id
                                    join zhxh_material m on pr.production_id = m.record_id
                                    left join zhxh_operator o on pr.operator_id = o.record_id
    </sql>

    <select id="get" resultMap="ProductRecordResultMap">
        select <include refid="productRecordFields"/>
        from <include refid="tables"/>
        where pr.record_id = #{recordId}
    </select>

    <select id="getAll" parameterType="java.util.Map" resultMap="ProductRecordResultMap">
        select <include refid="productRecordFields"/>
        from <include refid="tables"/>
        <include refid="com.zhxh.imms.data.CrudMapper.selectByPage"/>
    </select>
    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*)
        from <include refid="tables"/>
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.mes.mfc.domain.ProductRecord" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_product_record(workshop_id,workstation_id,production_id,gid,did,time_of_origin,time_of_origin_work,
        shift_id,rfid_card_id,rfid_card_no,report_type,qty,card_qty,operator_id,remark)
          values(#{workshopId},#{workstationId},#{productionId},#{gid},#{did},#{timeOfOrigin},#{timeOfOriginWork},
        #{shiftId},#{rfidCardId},#{rfidCardNo},#{reportType},#{qty},#{cardQty},#{operatorId},#{remark})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.mes.mfc.domain.ProductRecord">
        update zhxh_product_record
           set workshop_id=#{workshopId},
               workstation_id=#{workstationId},
               production_id=#{productionId},
               gid=#{gid},
               did=#{did},
               time_of_origin=#{timeOfOrigin},
               time_of_origin_work=#{timeOfOriginWork},
               shift_id=#{shiftId},
               rfid_card_id=#{rfidCardId},
               rfid_card_no=#{rfidCardNo},
               report_type=#{reportType},
               qty=#{qty},
               card_qty=#{cardQty},
               operator_id=#{operatorId},
               remark=#{remark}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_product_record where record_id = #{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_product_record where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getReportedSummary" resultType="java.util.HashMap">
        select count(DISTINCT pr.rfid_card_id) as totalCount,sum(pr.qty) as totalQty
        from zhxh_product_record pr
        where pr.workstation_id = #{workstationId}
          and pr.shift_id = #{shiftId}
          and pr.time_of_origin_work = #{timeOfOriginWork}
          and pr.production_id = #{productionId}
    </select>
</mapper>