<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.mes.mfc.mapper.QualityCheckMapper">
    <resultMap type="com.zhxh.imms.mes.mfc.domain.QualityCheck" id="QualityCheckResultMap"  extends="com.zhxh.imms.mes.mfc.mapper.CrudMapper.EntityResultMap">
        <result property="productionId" column="production_id"/>
        <result property="productionCode" column="production_code"/>
        <result property="productionName" column="production_name"/>

        <result property="workshopId" column="workshop_id"/>
        <result property="workshopCode" column="workshop_code"/>
        <result property="workshopName" column="workshop_name"/>
        <result property="wocgCode" column="wocg_code"/>
        <result property="locCode" column="loc_code"/>

        <result property="defectId" column="defect_id"/>
        <result property="defectCode" column="defect_code"/>
        <result property="defectName" column="defect_name"/>

        <result property="timeOfOriginWork" column="time_of_origin_work"/>
        <result property="shiftId" column="shift_id"/>
        <result property="qty" column="qty"/>
    </resultMap>

    <sql id="qualityCheckFields">
        qc.record_id,qc.production_id,qc.workshop_id,qc.wocg_code,qc.loc_code,qc.defect_id,qc.time_of_origin_work,qc.shift_id,qc.qty,
        m.material_code as production_code,m.material_name as production_name,
        ws.org_code as workshop_code,ws.org_name as workshop_name,
        dc.defect_code,dc.defect_name
    </sql>

    <sql id="tables">
        zhxh_quality_check qc join zhxh_material m on qc.production_id = m.record_id
              join zhxh_org ws on qc.workshop_id = ws.record_id
              join zhxh_defect dc on qc.defect_id = dc.record_id
    </sql>

    <select id="get" resultMap="QualityCheckResultMap">
        select <include refid="qualityCheckFields"/>
        from <include refid="tables"/>
        where qc.record_id=#{recordId}
    </select>

    <select id="getAll" resultMap="QualityCheckResultMap" parameterType="java.util.Map">
        select <include refid="qualityCheckFields"/>
        from <include refid="tables"/>
        <include refid="com.zhxh.imms.mes.mfc.mapper.CrudMapper.selectByPage"/>
    </select>

    <select id="getPageTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*)
        from <include refid="tables"/>
        <where>
            ${where}
        </where>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.mes.mfc.domain.QualityCheck" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_quality_check(production_id,workshop_id,wocg_code,loc_code,defect_id,time_of_origin_work,shift_id,qty)
        values(#{productionId},#{workshopId},#{wocgCode},#{locCode},#{defectId},#{timeOfOriginWork},#{shiftId},#{qty})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.mes.mfc.domain.QualityCheck">
        update zhxh_quality_check
        update  production_id=#{productionId},
                workshop_id=#{workshopId},
                wocg_code=#{wocgCode},
                loc_code=#{locCode},
                defect_id=#{defectId},
                time_of_origin_work=#{timeOfOriginWork},
                shift_id=#{shiftId},
                qty=#{qty}
        where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_quality_check where record_id = #{recordId}
    </delete>

    <delete id="deleteAll">
        delete from zhxh_quality_check where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>