<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.admin.mapper.ProgramPrivilegeMapper">
    <resultMap type="com.zhxh.imms.admin.domain.ProgramPrivilege" id="ProgramPrivilegeResultMap"
               extends="com.zhxh.imms.data.CrudMapper.EntityResultMap">
        <result property="programId" column="program_id"/>
        <result property="privilegeCode" column="privilege_code"/>
        <result property="privilegeName" column="privilege_name"/>
    </resultMap>

    <sql id="programPrivilegeFields">
        prv.record_id,prv.program_id,prv.privilege_code,prv.privilege_name
    </sql>

    <select id="get" resultMap="ProgramPrivilegeResultMap">
        select
        <include refid="programPrivilegeFields"/>
        from zhxh_program_privilege prv
        where prv.record_id=#{recordId}
    </select>

    <select id="getRolePrivileges" resultMap="ProgramPrivilegeResultMap">
        select
        <include refid="programPrivilegeFields"/>
        from zhxh_program_privilege prv join zhxh_role_privilege rprv on rprv.program_privilege_id = prv.record_id
        where rprv.role_id = #{roleId}
    </select>

    <select id="getUserPrivilege" resultMap="ProgramPrivilegeResultMap">
        select
        <include refid="programPrivilegeFields"/>
        from zhxh_program_privilege prv
            join zhxh_role_privilege rprv on rprv.program_privilege_id = prv.record_id
            join zhxh_system_role_user ru on rprv.role_id = ru.role_id
        where ru.user_id=#{userId}
    </select>

    <select id="getProgramPrivileges" resultMap="ProgramPrivilegeResultMap">
        select
        <include refid="programPrivilegeFields"/>
        from zhxh_program_privilege prv
        where prv.program_id=#{programId}
    </select>

    <insert id="assignPrivilege">
        insert into zhxh_role_privilege(program_privilege_id,role_id) values(#{privilegeId},#{roleId})
    </insert>

    <delete id="revokePrivilege">
        delete from zhxh_role_privilege where role_id=#{roleId} and program_privilege_id=#{privilegeId}
    </delete>
</mapper>