<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.admin.mapper.SystemAccountMapper">
	<resultMap type="com.zhxh.imms.admin.domain.SystemAccount" id="SystemAccountResultMap" extends="com.zhxh.imms.data.mapper.CrudMapper.EntityResultMap">
		<result property="accountStatus" column="account_status"/>
		<result property="recordCreationType" column="record_creation_type"/>
	</resultMap>

	<insert id="createRoleUser">
		insert into zhxh_system_role_user(role_id,user_id) values(#{roleId},#{userId})
	</insert>

	<delete id="deleteRoleUser">
		delete from zhxh_system_role_user
		where role_id = #{roleId}
		and user_id = #{userId}
	</delete>
</mapper>