<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxh.imms.admin.mapper.SystemParamMapper">
    <resultMap id="SystemParamResultMap" type="com.zhxh.imms.admin.domain.SystemParam"
               extends="com.zhxh.imms.data.CrudMapper.EntityResultMap">
        <result property="paramType" column="param_type"/>
        <result property="paramCode" column="param_code"/>
        <result property="paramDescription" column="param_description"/>
        <result property="paramValue" column="param_value"/>
        <result property="recordCreationType" column="record_creation_type"/>
    </resultMap>

    <sql id="systemParamFields">
        para.record_id,para.param_type,para.param_code,para.param_description,para.param_value,para.record_creation_type
    </sql>

    <select id="get" resultMap="SystemParamResultMap">
        select <include refid="systemParamFields"/>
          from zhxh_system_param para
         where record_id = #{recordId}
    </select>

    <select id="getAll" resultMap="SystemParamResultMap" parameterType="com.zhxh.imms.data.DbQueryParameter">
        select <include refid="systemParamFields"/>
         from zhxh_system_param para
         <include refid="com.zhxh.imms.data.CrudMapper.selectByPage"/>
    </select>

    <insert id="create" parameterType="com.zhxh.imms.admin.domain.SystemParam" keyProperty="recordId" useGeneratedKeys="true">
        insert into zhxh_system_param (param_type,param_code,param_description,param_value,record_creation_type)
            values(#{paramType},#{paramCode},#{paramDescription},#{paramValue},#{recordCreationType})
    </insert>

    <update id="update" parameterType="com.zhxh.imms.admin.domain.SystemParam">
        update zhxh_system_param
           set param_type = #{paramType},
               param_code = #{paramCode},
               param_description = #{paramDescription},
               param_value = #{paramValue},
               record_creation_type = #{recordCreationType}
         where record_id = #{recordId}
    </update>

    <delete id="delete">
        delete from zhxh_system_param  where record_id = #{recordId}
    </delete>

    <delete id="deleteAll" >
        delete from zhxh_system_param  where record_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getPageTotal" parameterType="com.zhxh.imms.data.DbQueryParameter" resultType="java.lang.Integer">
        select count(*) from zhxh_system_param para
        <where>
            ${where}
        </where>
    </select>

</mapper>